@font-face {
  font-family: "AgrandirGrand";
  src: url("./Agrandir-WideBlackItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #0d336c;
  color: white;
  font-family: "AgrandirGrand";

  margin: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes pulse {
  0%,
  100% {
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.025);
  }
}
.logo {
  animation: pulse 2s infinite;
  height: auto;
}
.text {
  margin: 0.1em 0 0 0;
}

@media (max-width: 700px) {
  .logo {
    width: 80vw;
  }
  .text {
    font-size: 10vw;
  }
}
@media (min-width: 700px) {
  .logo {
    width: 30vw;
  }
  .text {
    font-size: 5vw;
  }
}
